@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html, body {
    margin: 30px;
    padding: 0px;
    background: #333;
    font-size: 1rem;
    margin-bottom: 100px;
}

body, button, textarea {
    font-family: "Rubik Mono One", monospace;
    font-style: normal;
    font-weight: 400;
    color: white;
    background: #333;
}

    body {
        max-width: 700px;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 3rem;
    }

    h2, h3 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .subtitle {
        span {
            color: goldenrod;
        }
    }

    .leftmargin, .indent {
        margin-left: 40px;
    }

    textarea {
        resize: none;
        height: 80px;
        width: 500px;
        border: 2px solid white;
        color: #333;
        background: white;
    }

        .spaceabove {
            margin-top: 20px;
        }

    button {
        color: #333;
        background: white;
        margin-top: 20px;
        height: 40px;
        width: 100px;
        cursor: pointer;
    }

    div.output {
        height: 80px;
        width: 500px;
        border: 2px solid white;
    }

    .table {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 20px;

        div:nth-child(1), div:nth-child(2), div:nth-child(3) {
            border-top: 2px solid white;
        }

        div {
            padding: 5px;
            border-bottom: 2px solid white;
        }
    }

    .hidden {
        display: none;
    }

    .space {
        height: 32px;
    }